td {
    background: aqua;
    color: burlywood;
    border: 1px;
}
input[type="radio"]:checked {
    margin-left: 25px; }

input[type="checkbox"]:checked {
    margin-left: 25px;
}

input:hover {
    color: blue;
}
input:active {
    color: red;
}
.p1 {
    color: blueviolet;
}
td.td1 {
    color: darkgreen;
}
