.sliders{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $sliders-bg;
  height: 420px;
  &__articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__article1, &__article2, &__article3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 234px;
  }
  &__h {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: $top-menu-point-color;
  }
  &__img {
    width: 350px;
    height: 234px;
    display: flex;
    justify-content: center;
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 0.9;
    width: 415px;
    height: 234px;
    color: $text-article-color;
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__arrow {
    width: 105px;
    height: 38px;
  }
  &__button {
    width: 160px;
    height: 38px;
    background-color: $services-element4;
    color: $top-menu-color;
    border-radius: 5px;
  }
  &__arrow_review_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  &__review {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__arrow_review_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}