* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'calibri bold';
  src: url("../Calibri/Calibri-Bold.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'calibri';
  src: url("../Calibri/Calibri.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
$header-color: #43b1d2;
$top-menu-color: white;
$top-menu-point-color: #494848;
$padding: 20px 15px 20px;
$banner-color: #cad3e5;
$services-element1: #43b1d2;
$services-element2: #3fb6c6;
$services-element3: #3cbbbb;
$services-element4: #37c3a8;
$sliders-bg: #e5e9f2;
$text-article-color: #494848;
@import "header";
@import "banner";
@import "services";
@import "clinics";
@import "sliders";
/*.top-menu__icon_first {*/
/*    width: 25px; height: 25px;*/
/*    background: url('img/css_sprites.png') -10px -10px;*/
/*    margin-right: 10px;*/
/*}*/
.icon {
  width: 66px;
  height: 66px;
}
body {
  margin: 0;
}
a:active {
  color: white;
}
.buttonup {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px;
  border-color: blue;
  color: blue;
  font-family: "Roboto Light";
  font-size: 20px;
  margin: 10px 20px 5px 10px;
}
.imgphone {
  margin-right: 15px;
}
/*.menu2{  (Это было для меню табов)
    display: inline-flex;
    list-style: none;
    justify-content: flex-start;
    flex-direction: row;
    text-decoration: none;
    color: #43b1d2;
    font-family: sans-serif;
    font-size: 24px;
}*/
#MRT {
  color: #494848;
  border: 1px solid #dee2e6;
}
.container-button__button {
  color: #494848;
  background-color: #cbd4e6;
  font-family: serif;
  align-items: center;
  width: 125px;
  height: 40px;
}
.container-button {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1230px) {
  .clinics {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 970px) {
  .clinics__text {
    font-size: 12px
  }
  .clinics__h_align {
    font-size: 18px
  }
  .clinics__phone_style {
    font-size: 12px
  }
  .clinics__element {
    width: auto;
    height: auto;
  }
  .clinics__logo {
    width: 100px;
    height: 35px;
  }
  .clinics__button {
    background-color: #37c3a8;
    color: white;
    font-size: 12px;
    font-family: serif;
    width: 100px;
    height: 30px;
  }
  .clinics__address_text_white {
    font-size: 12px;
  }
}